# {{ ansible_managed }}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in play_hosts %}
{% if 'ansible_eth0' in hostvars[host] %}
{{ hostvars[host]['ansible_eth0']['ipv4']['address']}} {{ host }}
{% endif %}
{% if 'ansible_ens3' in hostvars[host] %}
{{ hostvars[host]['ansible_ens3']['ipv4']['address']}} {{ host }}
{% endif %}
{% endfor %}

