
upstream {{ item.split(".")[0] }} {
  {% for item in upstreams %}
    server {{ item }};
  {% endfor %}
}

server {
  listen {{ ansible_all_ipv4_addresses[0] }}:80;
  listen [::]:80;
  server_name {{ item }};
  root /var/www/{{ item }};
  index index.html;
  try_files $uri /index.html;
}
